#homepage{
    background:url(/images/homeimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    position: relative;
}

#navbar{
    overflow: hidden;
    background-color:#91700c;
    padding: 50px;
    transition: 0.4s;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 8px 10px -6px rgb(172, 142, 47);
}
#navbar a{
    margin-left: 70px;
    border-radius: 5px;
    padding: 6px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    background-color: none;
    transition: 0.4s;
}
#navbar a:hover{
    padding:8px;
    background-color:#b59157;
}

#w2r{
    width: 700px;
    height: 300px;
    padding: 6px;
    margin-top: 300px;
    margin-left: 70px;
    background-color: cornsilk;
    border-radius: 20px;
    transition: 1s;
}
#w2r h1{
    margin-left: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    font-weight: 500en;
    color:darkslateblue;
}